/*CSS file*/
body {
    font-family: Arial;
    background-image: url("images/home.png");
    background-size:cover; 
    background-repeat: no-repeat;
    
}
    


#pagecontent{
	height: 42em;
	text-align:left;
}

#menubar{
	
	padding: 5px 200px 15px 100px;
}

h1 { 
    text-align: center; 
    font-size: 70px;
    font-family: 'Open Sans', Georgia, Serif;
    font-weight: bold;
	width:100%;
}

/* menu*/

.menu_options{
	display: inline-block;
}

button {
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
	
}

.dobutton {
    background-color: #00CC66;
    color: #FFFFFF;
    width: 250px;
    padding: 10px ;
	margin:10px;
	
}

.dobutton:hover {
    background-color: tomato;
   
}



#logout {
    background-color: #222222;
    color: #FFFFFF;
    float: right;
    padding: 10px 0;
    width: 80px;
    margin:30px;
}

#logout:hover {
    background-color: tomato;
   
}

/* compose */

#header {
    padding: 10px 0;
    margin-left: 18px;
}

#new_message {
    text-align: left;
    background-color: #222222;
    color: #FFFFFF;
    padding: 1px 0;
}

fieldset {
    background-color: #cecccc;
}

.textfield {
    width: 100%;
    height: 20px;
    font-size: 15px;
}

textarea {
    width: 100%;  
    height: 400px;
    font-family: Arial;
    font-size: 16px;
} 

#Send {
    background-color: #4169E1;
    padding: 5px 25px;
    color: #FFFFFF;
}

#Send:hover {
    background-color: tomato;
}

/* inbox */

#table_header {
    margin-left: auto;
    margin-right: auto;
}

#header1 {
    margin: auto;
    padding: 10px 40px 10px 16px;
}

#header2 {
    margin: auto;
    padding: 10px 60px;
}

#header3 {
    margin: auto;
    padding: 10px 400px;
}

#table_header td {
    border-bottom: 1px solid #CECCCC;
}

#table_header tr:hover td {
    background-color: #969494;
    cursor: pointer;
}

.readme {
    border: 1px solid white;    
    width: 1200px;
    margin-left: 70px;
}

#subject2 {
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#from {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    color: #707070;
}


#hr2 {
    border: 1px solid #707070;
}

#message_body {
    margin-left: 50px;
}

.unread {
    font-weight: bold;   
}

#reply {
    
}

/* other users */

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: #FFFFFF;
    border-color: #CECCCC;
}

h2 {
    text-align: left;
    margin-left: 20px;
    font-size: 23px;
    font-family: "Comic Sans MS", Georgia, Serif;
    font-weight: lighter;
    color: grey;
}

th {
    margin: auto;
    padding: 0 90px;   
    background-color: #222222;
} 

td {
    padding: 5px 70px;
    background-color: #DDDDDD;
    color: #222222;
}